openapi: 3.0.1
info:
  title: Panasonic Logiscend APIs (Lansing)
  version: 1.0.0
servers:
  - url: https://apigatewayqa.adient.com/logiscend/v1
    description: Quality
security:
  - ApiKeyAuth: []
paths:
  /partrequests/{id}/pick:
    patch:
      tags:
        - Send Part Pick Data
      summary: Send Part Pick Data
      description: Send Part Pick Data
      operationId: partpick
      parameters:
        - name: id
          in: path
          description: ID of Part to Pick
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    PickResponse:
      type: object
      properties:
        route:
          type: string
          example: RTRoute1
        quantity:
          type: string
          example: 6
        destinationWorkstation:
          type: string
          example: O04A-2
        requestState:
          type: string
          example: Ready
        partNumber:
          type: string
          example: 2998530-395A-RT